.row {
    display: flex;
    justify-content: space-around;
  }
  
  .floating-card {
    width: 200px; /* Adjust according to your design */
    height: 250px; /* Adjust according to your design */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    text-align: center;
  }
  
  button {
    margin-top: auto;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  .card-image {
    width: 100%; /* Ensure the image takes up the full width of the card */
    height: auto; /* Automatically adjust the height to maintain aspect ratio */
  }
  .head{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
  }
  .txt{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;
  }