.row {
  display: flex;
  justify-content: space-around;
}

.floating-card {
  width: 200px;
  height: 300px; /* Adjusted height to accommodate larger text */
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  text-align: center;
}

button {
  margin-top: auto;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.card-image {
  width: 100%;
  height: auto;
}

.head {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.txt {
  text-align: justify;
  font-family: 'Times New Roman', Times, serif;
  font-size: 19px;
}
.card-title {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.card-text {
  font-size: 14px !important; /* Increased font size with !important */
  margin-top: 10px; /* Adjusted margin */
}


.card-text {
  font-size: 16px; /* Increased font size */
  margin-top: 10px; /* Adjusted margin */
}


