#carddesign{
    color:black;
}
#taskdesign{
    background-color: grey;
}
.large-textbox {
    width: 100%; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
    /* Add any other custom styling you need */
  }